:root {
  --heart-color: #ff5873;
  --background-color: #ebc8c0;
  --white: #fff;
}
@font-face {
  font-family: "nozha";
  src: url("digi-nozha.ttf") format("truetype");
}

@media screen and (max-width: 768px) {
  body {
    background-size: 120%!important;
  }
  .cat-image {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 700px;
    margin: 100px auto!important;
  }
}

body {
  font-family: "nozha";
  background-color: var(--background-color);
  margin: 0;
  padding: 0;

  color: var(--heart-color);
  background-image: url("images/valentine-background.png");
  background-position: center center;
  background-size: 40%;
}
.card {
  text-align: center;
  max-width: 100%;
  margin: 16px;
}
.title {
  font-size: 28px;
}
.animation {
  text-align: center;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.text {
  padding: 20px;
  font-size: 18px;
}
.button {
  background: var(--heart-color);
  color: var(--white);
  border: 0 none;
  padding: 10px 30px;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  font-family: tahoma;
  border-radius: 10px;
  cursor: pointer;
}
.button.button__negative {
  background: var(--white);
  color: var(--heart-color);
}
.button.button__error {
  width: 100%;
  display: none;
}

.hidden {
  /* display: none; */
}

.cat-image {
  width: 500px;
  border: 3px solid #ff5873;
  margin: 0 auto;
  border-radius: 30px;
}

.bear {
  margin-top: 30px;
  width: 300px;
}
